@*<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/ProfileMaster.Master"
    Inherits="System.Web.Mvc.ViewPage<DhotGroupNew.Models.tb_HomePageServicesDhot>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Edit
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <script src="<%: Url.Content("~/Scripts/jquery.validate.min.js") %>" type="text/javascript"></script>
    <script src="<%: Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") %>"
        type="text/javascript"></script>
     <div id="box3">
        <h1>
            Edit Home Services</h1>
  <%Html.RenderPartial("comHomePageService"); %>
    </div>
</asp:Content>*@


@model DhotGroupNew.Models.tb_HomePageServicesDhot
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/profileMasterNew.cshtml";

}





@*<script>
    window.onunload = function () {
        window.opener.location.href = window.opener.location;
    }

</script>*@



<div id="box3">
    <h1>Edit Services
    </h1>
    @using (Html.BeginForm("Edit", "HomePageService", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Partial("comHomePageServiceNew");
    }
</div>

